.wrapper {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
}

.calculator, .history {
    width: 50%;
}

.calculator {
    display: inherit;
    justify-content: center;
    align-items: flex-start;
}

input, select, label, button {
    margin: 5px 10px 0;
    border-radius: 5px;
}

input, select, label {
    padding: 2px 4px;
}

input {
    width: 60px;
    font-size: 18px;
}

select, input {
    border: 1px solid gray;
    outline: none;
}

select, button {
    font-size: 16px;
}

button {
    width: 50px;
    padding: 4px 5px;
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

label {
    align-self: baseline;
    font-size: 20px;
    font-weight: bold;
}

.history {
    font-size: 18px;
}

h2 {
    margin-top: 5px;
}

li {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

li p {
    margin: 0 2px;
}

#time {
    text-decoration: underline;
    font-weight: bold;
}

#result {
    font-size: 26px;
    font-weight: bold;
}