:root {
    --base-color: #e4e4e4;
    --primary-color: #0044ff;
    --secondary-color:  #00acfc;
    --accent-color: #ffb341;
    --heading-color: #757575;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--base-color);
}

h3 {
    margin: 0;
    background-color: var(--heading-color);
}

hr {
    margin-bottom: 2px;
}