:root {
    --base-color: #e4e4e4;
    --primary-color: #0044ff;
    --secondary-color:  #00acfc;
    --accent-color: #ffb341;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--base-color);
}

header {
    display: block;
    background-color: var(--primary-color);
    color: white;
}

hr {
    margin: 0;
}