#textFormat {
    width: 60%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

label {
    font-size: 20px;
}

input, select {
    padding: 4px 2px;
    border: 2px solid gray;
    border-radius: 5px;
}

input {
    font-size: 18px;
}

input[type=number] {
    width: 50px;
}

select {
    font-size: 15px;
}

input:focus, select:focus {
    outline: none;
    border-color: var(--secondary-color);
}